html {
  overflow: hidden;
}
.shade {
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background: linear-gradient(to bottom right,rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 6;
}

.kenburn-slider {
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top:0;
  left:0;
  opacity: .2;
}
.kenburn-slider .slides {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.kenburn-slider .slides > li {
  float: left;
  margin-right: -100%;
  width: 100%;
  overflow: hidden;
  height: 1080px;
  position: relative;
}
.kenburn-slider .flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.kenburn-slider .flex-direction-nav .flex-prev, .kenburn-slider .flex-direction-nav .flex-next {
  background-color: rgba(255, 255, 255, 0.0);
  color: transparent;
  padding: 10px 20px;
  text-decoration: none;
  position: absolute;
  height: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  text-align: center;
}
.kenburn-slider .flex-direction-nav .flex-prev {
  left: 0;
}
.kenburn-slider .flex-direction-nav .flex-next {
  right: 0;
}

.slide-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.flex-active-slide .slide-image {
  -webkit-animation: zoomout 5s;
          animation: zoomout 5s;
}

@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
