@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 10, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
* {
  box-sizing: border-box; }

/* line 13, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
body {
  min-height: 100vh;
  display: flex;
  background-color: #fefefe;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 23, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
i {
  color: #fefefe !important; }

/* line 27, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
p {
  font-size: 2em;
  width: 50%; }

/* line 32, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
.contact {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1); }
  /* line 49, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .contact-form {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 5;
    padding: 80px 50px;
    transform: translate3d(-100%, 0, 0);
    transition: .3s ease;
    border-radius: 5px; }
    /* line 62, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .contact-form.active {
      transform: translate3d(0, 0, 0); }
    /* line 66, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .contact-form .close {
      color: rgba(0, 0, 0, 0.7);
      position: absolute;
      right: 30px;
      top: 30px; }

/* line 75, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
.cards {
  margin: auto;
  background: #302f34;
  /*border-radius: 5px;*/
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 1920px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px; }
  /* line 91, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards .card {
    display: inline-block;
    margin-right: 20px; }
  /* line 96, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards .card-toggle {
    z-index: 4;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 1.8;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s ease; }
    /* line 110, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .cards .card-toggle.active {
      color: white;
      border-color: white; }
  /* line 115, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: -webkit-clip-path 1s ease;
    padding: 100px 0 0;
    overflow: hidden;
    border-radius: 5px; }
    /* line 126, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .cards .card-content .row {
      display: table;
      width: 100%;
      height: 100%; }
    /* line 132, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .cards .card-content .col {
      width: 50%;
      height: 100%;
      display: table-cell;
      transition: 0.3s ease 0.3s;
      transform: translate3d(0, 0, 0);
      vertical-align: top;
      color: #fefefe; }
      /* line 141, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
      .cards .card-content .col h2 {
        font-weight: 300;
        font-size: 7em;
        line-height: 1;
        margin: 0 0 30px;
        color: #fefefe;
        text-transform: uppercase; }
        /* line 148, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
        .cards .card-content .col h2 strong {
          font-weight: 700;
          display: block; }
      /* line 154, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
      .cards .card-content .col img {
        max-width: 90%;
        width: 100%; }
      /* line 159, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
      .cards .card-content .col.left {
        transform: translate3d(0, 0, 0);
        opacity: 0;
        padding-left: 50px; }
      /* line 164, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
      .cards .card-content .col.right {
        transform: translate3d(100px, 0, 0);
        opacity: 0;
        padding-left: 30px; }
  /* line 171, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards .card.active .col {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  /* line 176, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #overview .card-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
    color: white; }
  /* line 183, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #overview .card-content {
    background-color: #302f34;
    -webkit-clip-path: circle(0% at 91.5% 75px); }
  /* line 188, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #overview.active .card-toggle {
    opacity: 0; }
  /* line 189, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #overview.active .card-content {
    -webkit-clip-path: circle(270% at 91.5% 75px); }
  /* line 194, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #overview .right {
    background: url(https://dl.dropboxusercontent.com/u/26808427/cdn/james.png) no-repeat bottom right;
    background-size: contain; }
  /* line 201, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #dribbble .card-content, .cards #behance .card-content, .cards #linkedin .card-content, .cards #twitter .card-content {
    color: white; }
    /* line 204, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
    .cards #dribbble .card-content p, .cards #behance .card-content p, .cards #linkedin .card-content p, .cards #twitter .card-content p {
      color: rgba(255, 255, 255, 0.8); }
  /* line 210, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #dribbble .card-content {
    background-color: #f5c13e;
    -webkit-clip-path: circle(0% at 76px 88%);
    clip-path: circle(0% at 50px 88%); }
  /* line 216, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #dribbble.active .card-content {
    -webkit-clip-path: circle(270% at 76px 88%);
    clip-path: circle(270% at 50px 88%); }
  /* line 222, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #behance .card-content {
    background-color: #222222;
    -webkit-clip-path: circle(0% at 150px 88%);
    clip-path: circle(0% at 150px 88%); }
  /* line 228, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #behance.active .card-content {
    -webkit-clip-path: circle(270% at 150px 88%);
    clip-path: circle(270% at 150px 88%); }
  /* line 234, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #linkedin .card-content {
    background-color: #f5c13e;
    -webkit-clip-path: circle(0% at 220px 88%);
    clip-path: circle(0% at 220px 88%); }
  /* line 240, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #linkedin.active .card-content {
    -webkit-clip-path: circle(270% at 220px 88%);
    clip-path: circle(270% at 220px 88%); }
  /* line 246, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #twitter .card-content {
    background-color: #302f34;
    -webkit-clip-path: circle(0% at 292px 88%);
    clip-path: circle(0% at 292px 88%); }
  /* line 252, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  .cards #twitter.active .card-content {
    -webkit-clip-path: circle(270% at 292px 88%);
    clip-path: circle(270% at 292px 88%); }

/* line 260, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
form .control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px; }
  /* line 264, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  form .control label {
    position: absolute;
    top: 30px;
    left: 0;
    transition: .3s ease;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px; }
  /* line 275, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
  form .control.submit {
    text-align: right; }

/* line 279, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
form input, form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding: 10px 0; }

/* line 287, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
form .filled label, form input:focus + label, form textarea:focus + label {
  top: 0;
  font-size: 12px; }

/* line 293, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
form textarea {
  height: 100px; }

/* line 297, /Users/mathewmeiers/Desktop/in-home/inHome-main/scss/style.scss */
form input[type="submit"] {
  width: auto;
  background-color: #F06292;
  padding: 10px 40px;
  color: white;
  border-radius: 40px; }

/*# sourceMappingURL=style.css.map */