.kenburn-slider
	ul.slides
		li
			.slide-image( data-bg="https://ununsplash.imgix.net/photo-1429277096327-11ee3b761c93?fit=crop&fm=jpg&h=700&q=75&w=1050" data-kenburn-start="center center")
		li
			.slide-image( data-bg="https://ununsplash.imgix.net/photo-1428954376791-d9ae785dfb2d?fit=crop&fm=jpg&h=700&q=75&w=1050" data-kenburn-start="top left")
		li
			.slide-image( data-bg="https://unsplash.imgix.net/photo-1424746219973-8fe3bd07d8e3?fit=crop&fm=jpg&h=725&q=75&w=1050" data-kenburn-start="top center")
		li
			.slide-image( data-bg="https://ununsplash.imgix.net/photo-1429032021766-c6a53949594f?fit=crop&fm=jpg&h=700&q=75&w=1050" data-kenburn-start="top right")
		li
			.slide-image( data-bg="https://unsplash.imgix.net/photo-1429095687696-3227bb0aa9a8?fit=crop&fm=jpg&h=700&q=75&w=1050" data-kenburn-start="bottom left")