.clear-button {
    position:absolute;
    top:40px;
    right:40px;
    z-index: 999;
    background-color: transparent !important;
    border:none !important;
  .material-icons {
    color:$grocery-light !important;
    font-size: $icons !important;
    line-height: $icons !important;
    background-color: transparent !important;
  }

}
#sketch {
  position: absolute;
  top:0;
  left:0;
  width:1920px;
  height: 1080px;
  margin:0 !important;
  padding:0 !important;
}
