

.left-container {
  position:absolute;
  width:780px;
  top:125px;
  left:50px;
  margin: 0px;
  height: 740px;
  background-color:$alpha;
  border-radius:$radius;
}
.right-container {
  position:absolute;
  margin:0px;
  top:0px;
  left:860px;
  width:1060px;
  height: 1080px;
  //background-color:$alpha;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $alpha5;
}

input {
  background: transparent;
  width:860px;
  border: none {
    bottom: 2px solid $alpha5;
  }
  font-size: $fontSmall;
  height: 50px;
  color:$white;
  margin-top: 20px;
  padding: 20px 0px;
  &:focus {
    outline: 0;
  }

}

.input-buttons {
  height: 50px;
  width:100%;
  //border-bottom: $white-border;
  padding: 0;
  i {
    padding: 0px 10px 0px 0px;
    float: left;
    font-size: $fontLarge;
  }
  .material-icons {
    color:$todo-light !important;
    font-size: $fontHeading !important;
    line-height: $fontHeading !important;
  }
}

.error {
  color: $white;
  display: none;
  font-size: $fontTiny;
  margin-top: 20px;
  text-align: center;
  .fa-times{
    color: $white;
    padding: 5px 15px;
    float: left;
  }
  p {
    width: 800px;
  }
}

.todo-list{
  padding: 0;
  margin: 25px;
  .todo {
    background: $todo-light;
    border:none !important;
    box-shadow: $main-shadow;
    color: $white;
    border:none;
    font-size: $fontMedium;
    list-style: none;
    padding: 0px 130px 10px 15px;
    position: relative;
    margin-top:25px;
    white-space: normal;
    border-radius: $radius;
  }
}

.item {
  position: absolute;
  top: 0px;
  right: 0;

  a {
    color: $grey;
  }
  i{
    padding: 0px 15px;
  }
  .fa-check {
    &:hover {
      color: $todo-light;
    }
  }
  .fa-trash-o:hover {
    color: $red;
  }
}

.complete {
  color: $grey;
  text-decoration: line-through;
  .check {
    color: $todo-light;
  }
}



